body{
    background-color: #6b6b6b;    
}

.navbar {
 background: linear-gradient(
  180deg,
  rgba(172, 127, 31, 0.3) 0%,
  #503a03 20%,             
  #4b3a21 60%,             
  #1a1a1a 100%             
  );
  transition: background 0.7s;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
}
.navbar-nav {
    flex-direction: row !important;
    gap: 15px;
}

.header-img {
  width: 100vw;     
  max-width: 100%;  
  height: 40vw;;    
  display: flex;   
  margin: 0 auto;
  position: relative;
  object-fit: fill;
}